input:focus {
    outline: none;
}

.add-block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 2rem 0 0.625rem;
}

.remove-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}